@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
:root {
    --cor1: #8BA37C;
    --cor2: #275FA1;
    --cor3: #7B5143;
    --cor4: #614C4C;
}
body {
    background-image: linear-gradient(var(--cor1), var(--cor2), var(--cor3), var(--cor4));
    background-attachment: fixed;
}
p {
    color: white;
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p::after {
    content: '\1F412';
}

.box2 {
    max-width: 100%;
    width: 100px;
    border: 3px solid black;
    height: 100px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
}


.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

img {
    max-width: 80px;
    width: 100%;
    height: auto;
    display: block;
}